@import "tailwindcss";

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-akshatSans: var(--font-akshat-sans);
	--font-spaceGrotesk: var(--font-space-grotesk);
}

@layer base {
	h1 {
		color: #e2e8f0;
		font-family: var(--font-akshat-sans);
		font-size: 3rem;
		letter-spacing: -0.025em;
		line-height: 1;
	}

	h2 {
		color: #e2e8f0;
		font-family: var(--font-space-grotesk);
		font-size: 1.125rem;
		font-weight: 500;
		letter-spacing: -0.025em;
		line-height: 1.75rem;
		margin-top: 0.75rem;
	}

	h3 {
		color: #e2e8f0;
		font-family: var(--font-space-grotesk);
		font-weight: 500;
		line-height: 1.375;
	}

	p {
		line-height: 1.5;
		margin-top: 1rem;
		max-width: 20rem;
	}

	section {
		margin-bottom: 4rem;
		scroll-margin-top: 4rem;
	}

	@media (width >= 40rem) {
		h1 {
			font-size: 4.5rem;
		}

		h2 {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}
	}

	@media (width >= 64rem) {
		section {
			scroll-margin-top: 6rem;
		}
	}
}

:root {
	--background: #0f172a;
	--foreground: #171717;

	--gradiant-start: transparent(80%);
	--gradiant-end: rgba(29, 78, 216, 0.15);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0f172a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background-color: var(--background);
	background-image: radial-gradient(
		300px at 200px 100px,
		var(--gradiant-end) 0%,
		var(--gradiant-start) 100%
	);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
