@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gradiant-start: transparent(80%);
  --gradiant-end: rgba(29, 78, 216, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background: radial-gradient(300px at 200px 100px, var(--gradiant-end) 0%, var(--gradiant-start) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
