body {
	margin: 0;
	padding: 0;
}

canvas {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
}

main {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.btns {
	position: absolute;
	top: 80%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.btn {
	color: white;
	background-color: transparent;
	padding: 10px 15px;
	border-radius: 12px;
	border-color: white;
	border-style: solid;
	font-size: 20px;
	font-family: sans-serif;
	text-decoration: none;
}

.btn:hover {
	background-color: white;
	color: black;
}
